@import '../../../assets/stylesheets/colors.scss';
@import '../../../assets/stylesheets/fonts.scss';
@import '../../../pages/LeftPanel/LeftPanel.module.scss';

#mockData {
  @include box-styling;
  padding: 5px 10px 10px 8px;
  background-color: $light-gray2;
  
  hr {
    border: 1px solid $light-gray;
    margin-top: 0;
  }

  button:hover {
    color: $mint;
  }
  button {
    font-size: 12px;
    width: 30%;
    padding-top: 5px;
    border: none;
    font-family: $raleway;
    font-weight: bold;
    text-align: left;
  }

  input {
    width: 38%;
  }
}

#close {
  float: right;
}
#mockDataHeader {
  padding: 10px 0;
  vertical-align: middle;
}

#keys {
  font-size: 13px;
  margin-bottom: 0;
  display: flex;
  width: 61%;
  justify-content: space-between;
}

#keyList {
  margin-top: 5px;
}
