@import '../../../assets/stylesheets/colors.scss';
@import '../../../assets/stylesheets/fonts.scss';

#ItRenderer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  padding: 0.5rem;
  background-color: $light-gray2;
  border-radius: 3px;
  box-shadow: 2px 2px 5px gray;
  height: 100px;

  .itClose {
    position: absolute;
    font-size: 1.25rem;
    top: 5px;
    right: 5px;
    transition: 250ms;
    cursor: pointer;
    z-index: 3;

    &:hover {
      color: red;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .itStatement {
    position: absolute;
    bottom: 20px;
    width: 97.4%;
    padding: 0.1rem;
    padding-left: 0.4rem;
    padding-top: 10px;
    font-size: 1.1em;
    border-bottom: 1px solid $mint;
    background-color: rgba(0, 0, 0, 0);
  }

  .buttonsContainer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .reactButton {
    height: auto;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    min-width: 150px;
    border-radius: 3px;
    font-family: $oxygen;
    text-align: center;
    transition: 150ms;
    color: $mint;

    &:hover {
      font-size: 1.1rem;
    }

    i {
      margin-right: 0.5rem;
    }
  }
}
