@import '../../assets/stylesheets/fonts.scss';
@import '../../assets/stylesheets/colors.scss';

#about {
  padding: 16px 5%;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  img {
    max-width: 90%;
    margin: 16px 5% 0 5%;
  }

  h2 {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
      Apple Color Emoji, Segoe UI Emoji;
    font-size: 1.5rem;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eaecef;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
  }
  ol {
    padding-left: 2em;
    margin-bottom: 16px;
  }
  li {
    text-align: -webkit-match-parent;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
      Apple Color Emoji, Segoe UI Emoji;
    font-size: 16px;
    line-height: 1.5;
    list-style-type: decimal;
    color: #24292e;
    display: list-item;
    text-align: left;
  }
  p {
    font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
  }

  blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
  }

  code {
    font-size: 13.6px;
    word-break: normal;
    white-space: pre;
    background: transparent;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    background-attachment: scroll;
    background-clip: border-box;
    border-color: rgb(36, 41, 46);
    border-radius: 6px;
  }

  button {
    color: white;
    background-color: $mint;
    margin-right: 4px;
    margin-bottom: 4px;
    margin: 5px;
    height: 40px;
    width: 110px;
    opacity: 0.8;
    font-family: $oxygen;
    font-size: 14px;
    border-radius: 5px;
    border: 0.5px $light-gray solid;
  }

  button:hover {
    background-color: white;
    color: $mint;
  }

  #container {
    display: flex;
    justify-content: center;
  }

  .text {
    // margin-left: 5px;
    font-weight: 300;
    font-family: $oxygen;
    letter-spacing: 1px;
  }
}
