@import '../../assets/stylesheets/fonts.scss';
@import '../../assets/stylesheets/colors.scss';

#about {
  img {
    max-width: 75%;
    margin: 30px 10%;
  }

  p {
  }

  button {
    height: 75px;
    width: 75px;
    border: 1px solid white;
    background-color: $mint;
    color: white;
    border-radius: 50px;
    font-size: 15px;
  }

  button:hover {
    border: 1px solid rgb(2, 116, 161);
    box-shadow: 4px 4px 4px $light-gray;
  }

  .text {
    // margin-left: 5px;
    font-weight: 300;
    font-family: $oxygen;
    letter-spacing: 1px;
  }
}
