@import '../../../assets/stylesheets/colors.scss';
@import '../../../assets/stylesheets/fonts.scss';
@import '../../../pages/LeftPanel/LeftPanel.module.scss';

#actionlight {
  font-family: $raleway;
  background-color: $light-gray2;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 14px 10px;
  border-radius: 2px;
  --text-color: black;
  --action-color: #{$mint};
  --component-color: black;
}

#actiondark {
  font-family: $raleway;
  background-color: $chromegray-less-light;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 14px 10px;
  border-radius: 2px;

  --bg-color : #{$chromegray-less-light};
  --action-color: white;
  --component-color: #{$mint};
  --text-color: white;
  --component-color: #{$mint};
  --action-color: white;
}

#close {
  float: right;
  z-index: 20;
  cursor:pointer;
}

#actionHeader {
  @include box-header-alignment;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  
  img {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
  }
  h3 {
    margin: 0;
    padding: 0;
    color: var(--text-color);
  }
}

#componentName{
  color: var(--component-color);
}

.header {
  font-size: 1rem;
  font-weight: bold;
  color: var(--action-color);
}


#componentName {
  color: var(--component-color);
}

.queryLabel {
  font-weight: bolder;
  margin-bottom: 5px;
  display: block;
  margin-top: 15px;
}

#queryFlexBox {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  color: var(--text-color)
}

#eventTypeFlexBox {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

#eventType {
  width: 50%;
  color: var(--text-color);
  input {
    margin-top: 6px;
    padding: 5px;
    width: 100%;
    border-radius: 2px;
  }
}

.eventValueMock {
  input {
    margin-top: 6px;
  }
}

.eventValue {
  input {
    width: 185px;
    margin-top: 6px;
    display: block;
  }
}

#eventTypeVal {
  width: 43%;
}

#querySelector {
  select {
    font-family: $raleway;
    width: 100%;
    height: 25px;
    margin: 0 3px 0 0;
    padding: 3px;
    background-color: white;
    border: 1px solid $light-gray;
    border-radius: 2px;
    font-size: 12px;
    color: $dark-gray;
  }
}

#dropdownFlex {
  display: flex;
  align-items: center;
  gap: 10px;
}

#query {
  display: flex;
  align-items: center;
  input {
    width: 200px;
    min-width: 150px;
    height: 25px;
    border: 1px solid $light-gray;
    border-radius: 2px;
    font-size: 12px;
  }
}

#hastooltip {
  @include hastooltip($tooltip-transition-in-duration: 0.3s);
}

#tooltip {
  min-width: 10em;
  padding: 0.5em 0.75em;
  color: $dark-gray;
  font-size: 12px;
  box-shadow: 0 0.05em 0.15em rgba(black, 0.1);
  @include tooltip;
}
