{
  "extends": ["airbnb-typescript"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "arrow-body-style": "off",
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "linebreak-style": "off"
  },
  "env": {
    "jest": true,
    "browser": true
  }
}