@import '../../../assets/stylesheets/fonts.scss';
@import '../../../assets/stylesheets/colors.scss';
@import '../../../pages/LeftPanel/LeftPanel.module.scss';

#describeBlocklight {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 5px gray;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  z-index: 3;
  margin-bottom: 10px;
  button {
    margin: 2px;
    color: black;
  }

  --describe-bg: #{$lighter-mint};
  --button-color: black;
}

#describeBlockdark {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  background-color: $chromegray-less-light;
  border-radius: 3px;
  box-shadow: 1px 1px 5px gray;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  z-index: 3;
  margin-bottom: 10px;
  button {
    margin: 2px;
    color: white;
  }

  --describe-bg: #{$salmon};
  --button-color: white;
}

.describeClose {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  z-index: 20;
  transition: 250ms;
  color: white;

  &:hover {
    color: red;
    cursor: pointer;
    font-size: 1.75rem;
    font-weight: bold;
  }
}

.describeInputContainer {
  width: 100%;
  padding: 10px;
  background-color: var(--describe-bg);
  border-radius: 4px;

  input {
    color: white;
  }

  
}

.addIt {
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: $mint;

  

  &:hover {
    background-color: white;
    color: $mint;
  }
}

/*Animation for Describe block*/
