@import url(https://fonts.googleapis.com/css?family=Comfortaa|Montserrat&display=swap);

$light: 300;
$normal: 400;
$semihold: 500;
$bold: 700;

// $sans-serif: "Source Sans Pro", Helvetica, Verdana, sans-serif;
// $serif: Merriweather, Georgia, "Times New Roman", serif;
// $mono: "Source Code Pro", Courier, mono;
$comfortaa: "Comfortaa", cursive;
