@import '../../../assets/stylesheets/fonts.scss';
@import '../../../assets/stylesheets/colors.scss';
@import '../LeftPanel.module.scss';


#modal {
  @include box-styling;
  font-family: $raleway;
  letter-spacing: 0.5px;
}

#close {
  float: right;
}

#header {
  @include box-header-alignment;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  img {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
  }
  h3 {
    margin: 0;
    padding: 0;
  }
}

#testingFieldsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr
}
#groupFlexbox {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
}

#inputFlexBox {
  display: flex;
  align-items: center;
  width: 100%;
  input {
    width: inherit;
  }
}

#renderCheckbox {
  margin-left: 2rem;
  display: flex;
  input {
    align-self: center;
  }
}

#browserOptionsFlexBox {
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    width: 240px;
    margin: 0 4px 4px 0px;
  }

  img {
    margin-bottom: 5px;
  }
}

#browserOptions {
  font-size: 13px;
  margin-bottom: 0;
  padding: 6px 0;
  display: flex;
  width: 60%;
  justify-content: space-between;
}

#options {
  margin: 5px 0 15px;
  button {
    font-size: 12px;
    padding-top: 5px;
    border: none;
    font-family: $raleway;
    font-weight: bold;
    text-align: left;
  }
}