@import '../../../assets/stylesheets/fonts.scss';
@import '../../../assets/stylesheets/colors.scss';

.displays {
  display: block;
}

div {
  font-size: 13px;
  vertical-align: middle;
}
#head {
  position: fixed;
  z-index: 9999;
}

#testCaseHeader {
  margin: 15px 25px 15px 15px;
}

#testStatement {
  margin-left: 15px;
  width: 92%;
}

#mockHeader {
  float: right;
  margin: 5px 26px;
}

#checkboxLabel {
  margin: 10px;
}

#testMockSection {
  margin-bottom: 50px;
}

#mockDataHeader {
  padding: 0 2%;
  label {
    margin: 5px;
    vertical-align: middle;
  }
  img {
    width: 15px;
  }
}