@import '../../../assets/stylesheets/fonts.scss';
@import '../../../assets/stylesheets/colors.scss';

#testCase {
  padding-bottom: 25px;

  section {
    padding: 5px;
  }
}

#testStatement {
  margin: 5px;
  width: 60%;
}

#testCaseHeader {
  padding-left: 5%;
  // .mock-data-checkbox input {
  //   // width: 200px;
  // }
  // label {
  //   float: right;
  // }
}
#mockHeader {
  float: right;
  padding: 2% 4%;
  // margin: 15px;
}

#mockDataHeader {
  // width: 100%;
  // float: left;
  padding: 10px 5%;
  label {
    // display: block;
    // margin-left: 10px;
    // padding: 10px 5%;
    margin-top: 5px;
    // padding: 5px;
  }
  img {
    width: 18px;
  }
}
