@import '../../../assets/stylesheets/fonts.scss';
@import '../../../assets/stylesheets/colors.scss';

#testCase {
  padding-bottom: 25px;

  section {
    padding: 5px;
  }
}

#testStatement {
  margin: 5px;
  width: 60%;
}

#testCaseHeader {
  padding-left: 5%;
}
#mockHeader {
  float: right;
  padding: 2% 4%;
}

#mockDataHeader {
  padding: 10px 5%;
  label {
    margin-top: 5px;
  }
  img {
    width: 18px;
  }
}
