// import the stylesheets for colors and fonts
@import '../../assets/stylesheets/colors.scss';
@import '../../assets/stylesheets/fonts.scss';

#userGuide{
  * {
    transition: color 0.0s !important;
  }
}

#userGuidelight {
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // z-index: 10000;
  background-color: #{$eggshell-opaque};
  --container-bg: #{$mint};
  --container-border: #{$darkslategrey};
  --accordion-bg: #{$mint3};
  --accordion-details-bg: #{$mint2};
  --accordion-color: black;
}

#userGuidedark {
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // z-index: 10000;
  background-color: #{$chromegray-opaque};
  --container-bg: #{$darkslategrey};
  --container-border: #{$mint};
  --accordion-bg: #{$chromegray};
  --accordion-details-bg: #{$chromegray-light};
  --accordion-color: white;
}

