@import '../../assets/stylesheets/colors.scss';
@import '../../assets/stylesheets/fonts.scss';

.modalOverlaylight {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  background-color: $eggshell-opaque;
  --container-bg: #{$mint};
  --container-border: #{$darkslategrey};
  --accordion-bg: #{$mint3};
  --accordion-details-bg: #{$mint2};
  --accordion-color: black;
}

.modalOverlaydark {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  background-color: $chromegray-opaque;
  --container-bg: #{$darkslategrey};
  --container-border: #{$mint};
  --accordion-bg: #{$chromegray};
  --accordion-details-bg: #{$chromegray-light};
  --accordion-color: white;
}

.modal {
  position: fixed;
  max-width: 700px;
  font-family: $openSans;
  background-color: transparent;
  object-fit: cover;
}

// .modal2 {
//   position: fixed;
//   width: 700px;
//   font-family: $openSans;
//   background-color: transparent;
//   opacity: 1;
//   object-fit: cover;
// }

.modal:focus{
  outline: none;
}

#container{
  display: flex;
  max-width: 700px;
  background: var(--container-bg);
  border: 8px solid var(--container-bg);
  border-radius: 10px;
  color: white;
}

#containerRun{
  display: flex;
  max-width: 700px;
  background: var(--container-bg);
  border: 8px solid var(--container-bg);
  border-radius: 10px;
  color: white;
  padding: 5px;
}

#body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
  border-radius: 5px;
  
  p {
    color: #fff;
    font-size: 1rem;
    text-align: center;
  }

  input{
    color: white;
  }
  label{
    color: white;
  }
}

#newTestButtons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  button {
    background-color: $salmon;
    color: white;

    span {
      width: 100%;
    }
  }
}

#runTestButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;

  button {
    background-color: $salmon;
    color: white;

    span {
      width: 100%;
    }
  }
}

#exportFileButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;

  button {
    background-color: $salmon;
    color: white;

    span {
      width: 100%;
    }
  }
}

#chooseTestBtn {
  background-color: $salmon;
  color: white;

  span {
    width: 100%;
  }
}

#escapeButton {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 1rem;
  z-index: 3;
  transition: 250ms;
  fill: white;

  &:hover {
    fill: red;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bold;
  }
}

#close {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  fill: $mint;
}

#exportBtns{
  display: flex;
  gap: 5px;
  button {
    color: white;
    width: 100%;

    span {
      width: 100%;
    }
  }
}

#cancelBtn{
  background-color: $lighter-mint;
}

#saveBtn{
  background-color: $salmon;
}

#testMenu {
  display: grid;
  width: 100%;
}

#left {
  float: left;
  #newTestBtn {
    height: 40px;
    width: 110px;
    opacity: 0.8;
    font-family: $oxygen;
    font-size: 14px;
    border-radius: 5px;
    border: 0.5px $light-gray solid;
    color: $mint;
    background-color: white;
  }

  #newTestBtn:hover {
    background-color: $mint;
    color: white;
  }
}

#right {
  display: flex;
  flex-direction: column;
  #rightBtn {
  height: 40px;
  width: 110px;
  opacity: 0.8;
  font-family: $oxygen;
  font-size: 14px;
  border-radius: 5px;
  border: 0.5px $light-gray solid;

  color: white;
  background-color: $mint;
  // margin-right: 4px;
  // margin-bottom: 4px;
  }

  #rightBtn:hover {
    background-color: white;
    color: $mint;
  }
}

#accordionSummary {
  background-color: var(--accordion-bg);
  color: var(--accordion-color);
}

#accordionDetails {
  background-color: var(--accordion-details-bg);
  color: var(--accordion-color);
  opacity: 1;
}

#accordionDiv {
  display: flex;
  flex: 1;
  flex-direction: column;
  input{
    color: var(--accordion-color);
  }

  input::placeholder {
    color: var(--accordion-color);
  }
}

#endPointGuide {
  margin: 8px;
}

#configGuide {
  background-color: var(--accordion-details-bg);
  color: var(--accordion-color);
  display: flex;
  flex: 1;
  flex-direction: column;
  line-height: normal;
}

pre {
  white-space: pre-wrap;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 12px 15px;
  margin-bottom: 8px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #0a1f40;
  color: white;
}

.draggable-div{
  border-radius: 4px;
  background: red;
  border: 1px solid rgb(204, 204, 204);
  padding: 10px;
  padding-top: 0px;
  pointer-events: all;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.handle {
  height: 10px;
  background: black;
  border-bottom: 5px solid white;
  cursor: move;
  width: 200%;
  margin-left: -50%;
}
