@import '../../assets/stylesheets/colors.scss';
@import '../../assets/stylesheets/fonts.scss';

.modal {
  position: fixed;
  width: 700px;
  font-family: $openSans;
  background-color: transparent;
  // border: 8px solid $mint;
  // border-radius: 5px;
  // box-shadow: 0 0 0 1px white inset;
  object-fit: cover;
  top: 25%;
  left: 22%;
}

.modal:focus{
  outline: none;
}

.modal2:focus{
  outline: none;
}

.modal2 {
  position: fixed;
  width: 700px;
  font-family: $openSans;
  background-color: transparent;
  opacity: 1;
  // border: 8px solid $mint;
  // border-radius: 5px;
  // box-shadow: 0 0 0 1px white inset;
  object-fit: cover;
}

.modalCustomOverlay {
  display: grid;
  position: fixed;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 3;
}

.root {
  width: 100%;
  max-width: 360;
  background-color: white;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mint;
  margin: 1px;
  height: 20%;
  background-color: #fff;
  p {
    color: $mint;
    margin: 10px;
    font-weight: bold;
    align-content: center;
  }
}

#escapeButton {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 1rem;
  z-index: 3;
  transition: 250ms;
  fill: white;

  &:hover {
    fill: red;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bold;
  }
}

#close {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  fill: $mint;
}

#body {
  padding: 20px 25px 10px 25px;

  #endpoint {
    color: black;
  }
  #step {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    span:hover {
      color: $mint;
    }

    li {
      margin-left: 50px;
    }
    li:last-child {
      margin-bottom: 5px;
    }
    li:first-child {
      margin-top: 4px;
    }
  }

  p {
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
  }
  input {
    margin: 10px 0;
    width: 430px;
  }
  button {
    margin: 5px 10px 5px 0px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    float: right;
    width: 100px;
    height: 1.5rem;
    color: #fff;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    border: 0.5px solid white;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  button:hover {
    outline: 2px solid darkblue;
  }
}

#text {
  margin: 12px;
  text-align: center;
}

#save:hover {
  background-color: rgb(232, 232, 232);
  color: $mint;
  border-radius: 3px;
}
#save:focus {
  outline: 1px solid darkblue;
}

#newTestButtons {
  display: flex;
  justify-content: flex-start;

  #feedback {
    p {
      font-size: 12px;
      margin-top: 6px;
    }
  }
}
#newTestButtons:focus {
  outline: 1px solid darkblue;
}

#testMenu {
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin-bottom: 10px;
}

#left {
  float: left;
  #newTestBtn {
    height: 40px;
    width: 110px;
    opacity: 0.8;
    font-family: $oxygen;
    font-size: 14px;
    border-radius: 5px;
    border: 0.5px $light-gray solid;
    color: $mint;
    background-color: white;
  }

  #newTestBtn:hover {
    background-color: $mint;
    color: white;
  }
}

#right {
  display: flex;
  flex-direction: column;
  #rightBtn {
  height: 40px;
  width: 110px;
  opacity: 0.8;
  font-family: $oxygen;
  font-size: 14px;
  border-radius: 5px;
  border: 0.5px $light-gray solid;

  color: white;
  background-color: $mint;
  // margin-right: 4px;
  // margin-bottom: 4px;
  }

  #rightBtn:hover {
    background-color: white;
    color: $mint;
  }
}

#accordionSummary {
  background-color: $mint2;
}

#accordionDetails {
  background-color: 'white';
  opacity: 1;
}

#accordionDiv {
  // background-color: $mint;
  display: flex;
  flex: 1;
  flex-direction: column;
}

#endPointGuide {
  margin: 8px;
}

#configGuide {
  display: flex;
  flex: 1;
  flex-direction: column;
  line-height: normal;
}

pre {
  white-space: pre-wrap;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 12px 15px;
  margin-bottom: 8px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #0a1f40;
  color: white;
}

.draggable-div{
  border-radius: 4px;
  background: red;
  border: 1px solid rgb(204, 204, 204);
  padding: 10px;
  padding-top: 0px;
  pointer-events: all;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.handle {
  height: 10px;
  background: black;
  border-bottom: 5px solid white;
  cursor: move;
  width: 200%;
  margin-left: -50%;
}

#container{
  background: $mint;
  border: 8px solid $mint;
  padding: 30px;
}

/*animation*/
