@import '../../assets/stylesheets/colors.scss';
@import '../../assets/stylesheets/fonts.scss';

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background-color: $eggshell-opaque;
}

.modal {
  position: fixed;
  width: 700px;
  font-family: $openSans;
  background-color: transparent;
  // border: 8px solid $mint;
  // border-radius: 5px;
  // box-shadow: 0 0 0 1px white inset;
  object-fit: cover;
}

.modal:focus{
  outline: none;
}

.modal2:focus{
  outline: none;
}

.modal2 {
  position: fixed;
  width: 700px;
  font-family: $openSans;
  background-color: transparent;
  opacity: 1;
  object-fit: cover;
}

#container{
  display: flex;
  max-width: 700px;
  background: $mint;
  border: 8px solid $mint;
  border-radius: 10px;
  color: white;
}

#body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
  
  p {
    color: #fff;
    font-size: 1rem;
    text-align: center;
  }
}

#newTestButtons {
  display: grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  gap: 5px;

  button {
    background-color: #D96098;
    color: white;

    span {
      width: 100%;
    }
  }
}

#chooseTestBtn {
  background-color: #D96098;
  color: white;

  span {
    width: 100%;
  }
}



#escapeButton {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 1rem;
  z-index: 3;
  transition: 250ms;
  fill: white;

  &:hover {
    fill: red;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bold;
  }
}

#close {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  fill: $mint;
}



#testMenu {
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 98%;
}

#left {
  float: left;
  #newTestBtn {
    height: 40px;
    width: 110px;
    opacity: 0.8;
    font-family: $oxygen;
    font-size: 14px;
    border-radius: 5px;
    border: 0.5px $light-gray solid;
    color: $mint;
    background-color: white;
  }

  #newTestBtn:hover {
    background-color: $mint;
    color: white;
  }
}

#accordionSummary {
  background-color: $mint2;
}

#accordionDetails {
  background-color: 'white';
  opacity: 1;
}

#accordionDiv {
  // background-color: $mint;
  display: flex;
  flex: 1;
  flex-direction: column;
}

#endPointGuide {
  margin: 8px;
}

#configGuide {
  display: flex;
  flex: 1;
  flex-direction: column;
  line-height: normal;
}

pre {
  white-space: pre-wrap;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 12px 15px;
  margin-bottom: 8px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #0a1f40;
  color: white;
}

.draggable-div{
  border-radius: 4px;
  background: red;
  border: 1px solid rgb(204, 204, 204);
  padding: 10px;
  padding-top: 0px;
  pointer-events: all;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.handle {
  height: 10px;
  background: black;
  border-bottom: 5px solid white;
  cursor: move;
  width: 200%;
  margin-left: -50%;
}



/*animation*/
