@import '../../assets/stylesheets/fonts.scss';
@import '../../assets/stylesheets/colors.scss';

#leftPanel {
  grid-area: leftPanel;
  grid-column-start: 2;
  height: 100vh;
  font-family: $raleway;
  justify-content: space-evenly;
  overflow: scroll;

  button {
    text-decoration: none;
    width: 30%;
    height: 25px;
    // border-radius: 30px 0 0 30px;
  }

  input {
    width: 60%;
  }

  h3 {
    color: $mint;
    font-weight: bold;
    font-size: 18px;
    padding: 0.3em 0.5em;
  }
}

@mixin box-styling {
  background-color: white;
  padding: 12px;
  margin: 15px 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  // box-shadow: 0px 3px 6px rgba(21, 27, 38, 0.15);
  box-shadow: 1px 1px 4px rgba(21, 27, 38, 0.15);
  font-family: $raleway;

  img {
    width: 18px;
  }

  label {
    padding: 0.3em 0.5em;
    font-size: 14px;
  }

  p {
    font-size: 14px;
    padding: 5px;
  }
}

@mixin box-header-alignment {
  margin-bottom: 7%;

  h3 {
    float: left;
  }

  img {
    float: right;
  }
}
