@import '../../assets/stylesheets/fonts.scss';
@import '../../assets/stylesheets/colors.scss';

#leftPanel {
  grid-area: leftPanel;
  grid-column-start: 2;
  height: 100vh;
  font-family: $raleway;
  justify-content: space-evenly;
  overflow: scroll;
  border-right: 0.5px dotted $mint;

  button {
    text-decoration: none;
    width: 20%;
    height: 10px;
    font-size: 13px;
  }

  input {
    font-family: $raleway;
    font-size: 12px;
    padding: 4px;
  }

  h3 {
    color: $mint;
    font-size: 16px;
    padding: 0.3em 0.5em;
  }
}

@mixin box-styling {
  background-color: white;
  padding: 12px;
  margin: 15px 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  // box-shadow: 0px 3px 6px rgba(21, 27, 38, 0.15);
  box-shadow: 1px 1px 4px rgba(21, 27, 38, 0.15);
  font-family: $raleway;

  img {
    width: 18px;
  }

  label {
    padding: 0.3em 0.5em;
    font-size: 12px;
  }

  p {
    font-size: 14px;
    padding: 5px;
  }
}

@mixin box-header-alignment {
  margin-bottom: 6%;

  h3 {
    float: left;
  }

  img {
    float: right;
  }
}

@mixin help-button {
  margin: 2px;
  width: 15px;
  height: 15px;
}
