@import '../../../assets/stylesheets/colors.scss';
@import '../../../assets/stylesheets/fonts.scss';

#ItRendererlight {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $light-gray2;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: gray 0px 3px 8px;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  margin: 10px 10px;
  gap: 10px;
  padding: 18px 10px;

  svg{
    color: black;
  }

  --exit-button-color: black;
  --input-color: black;
}

#ItRendererdark {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $chromegray-less-light;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: rgb(16 14 14) 0px 3px 8px;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  margin: 10px 10px;
  gap: 10px;
  padding: 18px 10px;

  svg{
    color: white;
    
  }

  --placeholder-color: white;
  --input-color: white;
}

.itClose {
  position: absolute;
  font-size: 1rem;
  top: 5px;
  right: 5px;
  transition: 250ms;
  cursor: pointer;
  z-index: 20;
  color: black;

  &:hover {
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

#itInputContainer {
  
  background-color: transparent;

  input {
    color: var(--placeholder-color);
  }

  input::placeholder {
    color: var(--placeholder-color);
  }
}


.buttonsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  button {
    font-size: 0.75rem;
    color: var(--input-color);
    border-color: var(--input-color);
  }
}

.reactButton {
  height: auto;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  min-width: 150px;
  border-radius: 3px;
  font-family: $oxygen;
  text-align: center;
  transition: 150ms;
  color: $mint;

}
/*animation for it block*/
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}