@import '../../../assets/stylesheets/colors.scss';
@import '../../../assets/stylesheets/fonts.scss';

#ItRenderer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $light-gray2;
  border-radius: 3px;
  box-shadow: 2px 2px 5px gray;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  margin: 0 10px;
}

.itClose {
  position: absolute;
  font-size: 1rem;
  top: 5px;
  right: 5px;
  transition: 250ms;
  cursor: pointer;
  z-index: 20;
  color: black;

  &:hover {
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

#itInputContainer {
  padding: 10px;
}

.buttonsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.reactButton {
  height: auto;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  min-width: 150px;
  border-radius: 3px;
  font-family: $oxygen;
  text-align: center;
  transition: 150ms;
  color: $mint;

  &:hover {
    font-size: 1.1rem;
  }

  i {
    margin-right: 0.5rem;
  }
}
/*animation for it block*/
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}