@import '../../../assets/stylesheets/fonts.scss';
@import '../../../assets/stylesheets/colors.scss';

#CatTagFilter {
  font-weight: bold;
  font-size: 0.75rem;
  position: relative;
  margin-left: 5px;
  z-index: 3;
}