@import '../../assets/stylesheets/fonts.scss';
@import '../../assets/stylesheets/colors.scss';

#upperPart {
  width: 100%;
  height: 50vh;
  background-color: #038181;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 4rem;
  text-align: center;
  vertical-align: bottom;
  font-family: 'comfortaa';
  color: #fff;
  padding-top: 30px;
  margin-top: 30px;
  flex: 1;
}

#purpose {
  font-size: 1rem;
  text-align: center;
  font-family: 'comfortaa';
  color: #fff;
  flex: 1;
}

#leaf {
  width: 48px;
  height: 48px;
  margin-bottom: 38px;
  margin-left: 5px;
  color: #fff;
}

#lowerPart {
  width: 100%;
  height: 50vh;
  background-color: $light-gray3;
}

#subText {
  font-size: 1.2rem;
  text-align: center;
  font-family: $oxygen;
  font-weight: 300;
  letter-spacing: 1px;
  color: $mint;
  padding: 20px;
}

#appBox {
  display: flex;
  justify-content: center;
  height: 25vh;
}

.contentBox {
  margin: 100px 80px;
}

#url {
  margin-top: 10px;
  padding-left: 1rem;
  font-size: 12px;
  width: 250px;
  height: 25px;
  color: rgb(128, 128, 128);
}

#openBtn {
  margin-top: 10px;
  padding-left: 1rem;
  font-size: 12px;
  text-align: left;
  width: 250px;
  color: $dark-gray;
  outline: none;
  border: 0.5px solid $light-gray;
  box-shadow: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.number {
  font-weight: bold;
  letter-spacing: 1.5px;
  font-family: $oxygen;
  color: $mint;
}

.text {
  margin-left: 5px;
  font-weight: 300;
  font-family: $oxygen;
  letter-spacing: 1px;
}

#helpBtn {
  color: white;
  background-color: $mint;
  margin: 15px 4px 4px 4px;
  height: 40px;
  width: 110px;
  opacity: 0.8;
  font-family: $oxygen;
  font-size: 14px;
  border-radius: 5px;
  border: 0.5px $light-gray solid;
}

#helpBtn:hover {
  background-color: white;
  color: $mint;
}
#helpBtn:focus {
  outline: 1px solid darkblue;
}

#bottomDiv {
  display: flex;
  height: 25vh;
  justify-content: center;
}

.gitLogin {
  border: none;
  background-color: transparent;
  font-size: 14px;
}

#gitButton {
  margin-top: 13px;
  padding-left: 10px;
}

#loginBtn {
  font-size: 13px;
}
