@import '../../assets/stylesheets/fonts.scss';
@import '../../assets/stylesheets/colors.scss';

#projectLoaderlight{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  --text-color: #{$eggshell};
  --bg-color-upper : #{$mint};
  --bg-color-lower : #{$eggshell};
  --button-text: #{$eggshell};
  --button-color-lighter: #{$lighter-mint}
}

#projectLoaderdark{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  --text-color : #fff;
  --bg-color-upper: black;
  --leaf-color: #fff;
}

//TODO make animations for upper part

#upperPart {
  flex: 0 0 50vh;
  padding: 5vh 0;
  background-color: var(--bg-color-upper);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

#title {
  font-size: 4rem;
  text-align: center;
  font-family: 'comfortaa';
  color: var(--text-color);
}

#leaf {
  width: 48px;
  height: 48px;
  fill: var(--leaf-color);
}

#slogan {
  font-size: 1rem;
  text-align: center;
  font-family: 'comfortaa';
  color: var(--text-color);
}

#lowerPart {
  width: 100%;
  height: 50vh;
  background-color: var(--bg-color-lower);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.contentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 225px;
}

#loginForm{
  flex: 0 1;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 225px;
}

#buttonBox{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

#loginBtn {
  width: 100%;
  font-size: 0.75rem;
  background-color: var(--bg-color-upper);
  color: var(--bg-color-lower);
}

#signInBtn {
  width: 100%;
  font-size: 0.75rem;
  background-color: var(--button-color-lighter);
  color: var(--bg-color-lower);
}

#altButtonsBox{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

#guestBtn {
  width: 100%;
  background-color: #D96098;
  color: var(--bg-color-lower);

  span {
    width: 100%;
    gap: 10px;
  }
}

#gitBtn {
  width: 100%;
  background-color: #325288;
  color: white;

  span {
    width: 100%;
    gap: 10px;
  }
}

//TODO MAKE LOGIN BUTTON HOVER

.text {
  font-family: 'comfortaa';
  font-size: 1rem;
  color: var(--bg-color-upper)
}


