@import '../../assets/stylesheets/fonts.scss';
@import '../../assets/stylesheets/colors.scss';

#upperPart {
  width: 100%;
  height: 50vh;
  background-color: #02c2c3;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#title {
  font-size: 4rem;
  text-align: center;
  vertical-align: bottom;
  font-family: 'comfortaa';
  color: #fff;
  margin-bottom: 30px;
}

#leaf {
  width: 48px;
  height: 48px;
  margin-bottom: 38px;
  margin-left: 5px;
  color: #fff;
}

#lowerPart {
  width: 100%;
  height: 50vh;
  background-color: $light-gray3;
}

#subText {
  font-size: 1.2rem;
  text-align: center;
  font-family: $oxygen;
  font-weight: 300;
  letter-spacing: 1px;
  color: $mint;
  padding: 20px;
}

#appBox {
  display: flex;
  justify-content: center;
  height: 25vh;
}

.contentBox {
  margin: 100px 80px;
}

#url {
  margin-top: 10px;
  padding-left: 1rem;
  font-size: 12px;
  width: 250px;
  height: 25px;
  color: rgb(128, 128, 128);
}

#openBtn {
  margin-top: 10px;
  padding-left: 1rem;
  font-size: 12px;
  text-align: left;
  width: 250px;
  color: $dark-gray;
  outline: none;
  border: 0.5px solid $light-gray;
  box-shadow: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.number {
  font-weight: bold;
  letter-spacing: 1.5px;
  font-family: $oxygen;
  color: $mint;
}

.text {
  margin-left: 5px;
  font-weight: 300;
  font-family: $oxygen;
  letter-spacing: 1px;
}

#helpBtn {
  height: 75px;
  width: 75px;
  border: 1px solid white;
  background-color: $mint;
  color: white;
  border-radius: 50px;
  font-size: 15px;
}

#helpBtn:hover {
  border: 1px solid rgb(2, 116, 161);
  box-shadow: 4px 4px 4px $light-gray;
}

#bottomDiv {
  display: flex;
  height: 25vh;
  justify-content: center;
}

/*----------for About page----*/
#container {
  display: flex;
  justify-content: center;
  align-items: center;
}
