@import '../../../assets/stylesheets/fonts.scss';

#AccTestTypesComponent{
  margin-right: 35px;
}

#AccTestTypesLabel {
  display: block;
  margin-bottom: 6px;
  font-family: $oxygen;
  font-size: 14px;
}

.AccTestTypesInput{
  margin-top: 4px;
  min-height: 35px;
}