@import '../../assets/stylesheets/fonts.scss';
@import '../../assets/stylesheets/colors.scss';

#ItRenderer {
  display: flex;
  flex-direction: column;
  border-left: 2px solid gray;
  border-bottom: 2px solid gray;
  margin-top: 1.5rem;
  padding: 0.5rem;

  .buttonsContainer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .reactButton {
    height: auto;
    font-size: 1rem;
    background-color: rgba(0,0,0,0);
    border: none;
    min-width: 150px;
    border-radius: 3px;
    font-family: $oxygen;
    text-align: center;
    transition: 150ms;
    color: $mint;

    &:hover {
      font-size: 1.10rem;
    }

    i {
      margin-right: 0.5rem;
    }
  }
}