@import '../../assets/stylesheets/colors.scss';
@import '../../assets/stylesheets/fonts.scss';

#browserView {
  height: 100vh;
  width: auto;
}

#browserAddress {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 10px;
  margin: 5px;
}

#address {
  width: 89%;
  height: 28px;
  border: none;
  border: 1px solid $light-gray;
  border-radius: 4px;
  padding-left: 10px;
}

// button {
//   width: 45px;
//   height: 28px;
//   margin-left: 5px;
//   color: $mint;
//   background-color: $light-gray3;
//   outline: none;
//   border-radius: 4px;
// }

// button:hover {
//   background-color: $mint;
//   color: white;
// }
