@import '../../assets/stylesheets/colors.scss';
@import '../../assets/stylesheets/fonts.scss';

#browserView {
  display: flex;
  justify-content: center;
  height: 97vh;
  width: auto;
}

#browserAddress {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 10px;
  margin: 5px;
  width: 97%;
  text-indent: 10px;
}

#browswerComponentTopLevelDiv{
  display: flex;
  flex: 1;
  flex-direction: column;
}

#accessLensContainer{
  // background-color: $mint2;
  display: flex;
  flex-direction: column;
  height: 80px;
  min-width: 100px;
  // border: $mint;
  // border-width: .1em;
  // border-radius: 5px;
  // border-style: solid;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  justify-content: center;
}

#accessLensCheckBoxes{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mint2;
  border: $mint2;
  border-width: .1em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-style: solid;
}

#accessLensLabel {
  display: flex;
  justify-content: center;
  background-color: $mint;
  color: white;
  font-size: 18px;
  font-family: $oxygen;
  height: 25px;
  border: $mint;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-style: solid;
}

// button {
//   width: 45px;
//   height: 28px;
//   margin-left: 5px;
//   color: $mint;
//   background-color: $light-gray3;
//   outline: none;
//   border-radius: 4px;
// }

// button:hover {
//   background-color: $mint;
//   color: white;
// }

// #formControlLabel{
//   display: flex;
//   background-color: $mint2;
//   color: "white";
//   size: "20px";
//   margin: "10px";
// }

// #address {
//   width: 89%;
//   height: 28px;
//   border: none;
//   border: 1px solid $light-gray;
//   border-radius: 8px;
//   padding-left: 10px;
// }