@import '../../assets/stylesheets/colors.scss';
@import '../../assets/stylesheets/fonts.scss';

#browserView {
  display: flex;
  justify-content: center;
  height: 97vh;
  width: auto;
}

#browserAddress {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 10px;
  margin: 5px;
  width: 97%;
  text-indent: 10px;
}

#browswerComponentTopLevelDiv{
  display: flex;
  flex: 1;
  flex-direction: column;
}

#accessLensContainer{
  display: flex;
  flex-direction: column;
  height: 80px;
  min-width: 100px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  justify-content: center;
}

#accessLensCheckBoxes{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mint2;
  border: $mint2;
  border-width: .1em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-style: solid;
}

#accessLensLabel {
  display: flex;
  justify-content: center;
  background-color: $mint;
  color: white;
  font-size: 18px;
  font-family: $oxygen;
  height: 25px;
  border: $mint;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-style: solid;
}

