@import '../../../assets/stylesheets/fonts.scss';
@import '../../../assets/stylesheets/colors.scss';

#StandardTagFilter {
  font-weight: bold;
  font-size: 0.8rem;
  position: relative;
  margin-top: 10px;
  z-index: 3;
}