@import './../../../assets/stylesheets/colors.scss';

#renderPropsFlexBoxlight {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;

  input {
    width: 240px;
    margin: 0 4px 4px 0px;
    padding: 10px;
  }

  img {
    margin-bottom: 5px;
  }
}

#renderPropsFlexBoxdark {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  input {
    width: 240px;
    margin: 0 4px 4px 0px;
    padding: 10px;
  }

  img {
    margin-bottom: 5px;
  }
}
