@import '../../../assets/stylesheets/colors.scss';
#mockDataKey {
  margin: 0 10px 5px 12px;
  img {
    width: 15px;
    height: 15px;
  }

  input {
    width: 50%;
    display: inline-block;
    margin-right: 20px;
  }

  select {
    width: 38%;
    height: 25px;
    margin-right: 10px;
    background-color: white;
    border: 1px solid $light-gray;
  }
}
