@import '../../../assets/stylesheets/fonts.scss';
@import '../../../assets/stylesheets/colors.scss';
@import '../LeftPanel.module.scss';

#mockData {
  @include box-styling;

  hr {
    border: 1px solid $light-gray;
  }

  button:hover {
    color: $mint;
  }
  button {
    font-size: 12px;
    width: 30%;
    padding-top: 5px;
    border: none;
    font-family: $raleway;
    font-weight: bold;
    text-align: left;
  }
}

#mockDataHeader {
  padding-bottom: 12px;

  img {
    float: right;
  }
}

#mockDataKey {
  float: left;
}

#mockDataType {
  float: right;
  margin-right: 28%;
}

#keyList {
  margin-top: 30px;
}
