@import '../../../assets/stylesheets/fonts.scss';
@import '../../../assets/stylesheets/colors.scss';
@import '../LeftPanel.module.scss';

#RenderContainer {
  position: relative;
  height: auto;
  border: 1px solid black;
  padding: 1rem;
  @include box-styling;
  font-family: $raleway;
  letter-spacing: 0.5px;

  .renderHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    
    
    .header {
      font-size: 0.9rem;
      font-weight: bold;
      color: $mint;

      .componentName {
        font-family: 'Lucida Console', monospace;
      }
    }

    .addPropBtn {
      font-size: 1rem;
      cursor: pointer;
      position: absolute;
      top: 5px;
      right: 5px;

      &:hover {
        color: green;
      }
    }
    .addProps {
      height: auto;
      font-size: 0.85rem;
      background-color: rgba(0,0,0,0);
      border: none;
      min-width: 150px;
      border-radius: 3px;
      font-family: $oxygen;
      text-align: center;
      transition: 150ms;
  
      &:hover {
        font-size: 0.9rem;
      }
    }

    .deleteRender {
      position: absolute;
      top: 2px;
      right: 2px;
      transition: 250ms;

      &:hover {
        cursor: pointer;
        color: red;
        font-size: 1rem;
        font-weight: bold;
      }
    }
  }
}