@import '../../../assets/stylesheets/colors.scss';

#renderPropsFlexBox {
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    width: 45%;
    margin: 0 10px 5px 0px;
  }
}
