@import '../../../assets/stylesheets/colors.scss';

#renderProp {
  text-align: left;
  h4 {
    color: $mint;
    padding-left: 2%;
  }
}

#renderPropHeader {
  margin-bottom: 8px;

  h4 {
    float: left;
  }

  img {
    float: right;
  }
}

#renderPropsFlexBox {
  display: flex;
  margin-left: 5px;

  label {
    display: block;
  }
  img {
    width: 18px;
    height: 24px;
    align-self: flex-end;
    padding-bottom: 5px;
  }
}
