@import '../../../assets/stylesheets/fonts.scss';
@import '../../../assets/stylesheets/colors.scss';
@import '../LeftPanel.module.scss';

#render {
  @include box-styling;
  padding-bottom: 10px;
  vertical-align: middle;

  button:hover {
    color: $mint;
  }
  button {
    font-size: 12px;
    padding-top: 5px;
    border: none;
    font-family: $raleway;
    font-weight: bold;
    text-align: left;
  }
  hr {
    border: 1px solid $light-gray;
    margin-top: 0;
  }
}

#closeBtn {
  float: right;
  margin: 0;
}
#renderHeader {
  @include box-header-alignment;
}

#renderBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#renderInputBox {
  width: 150px;
}
#renderProp {
  font-size: 13px;
  margin-bottom: 0;
  padding: 6px 0;
  display: flex;
  width: 60%;
  justify-content: space-between;
}
#renderCheckbox {
  float: right;
}

#props {
  margin: 5px 0;
}
