@import '../../../assets/stylesheets/fonts.scss';
@import '../../../assets/stylesheets/colors.scss';
@import '../LeftPanel.module.scss';

#action {
  @include box-styling;
  font-family: $raleway;
}

#actionHeader {
  @include box-header-alignment;
}

#querySelector {
  label {
    display: block;
  }
}

#querySelector {
  // display: flex;
  padding-bottom: 1%;

  img {
    @include help-button;
  }
}

#query {
  input {
    display: block;
  }
}

#queryFlexBox {
  display: flex;
}
