@import '../../../assets/stylesheets/fonts.scss';
@import '../../../assets/stylesheets/colors.scss';
@import '../LeftPanel.module.scss';

#action {
  @include box-styling;
  font-family: $raleway;
}

#actionHeader {
  @include box-header-alignment;
}

#querySelector {
  label {
    display: block;
  }
}

#querySelector {
  // display: flex;
  padding-bottom: 1%;
}

#query {
  input {
    display: block;
  }
}

#queryFlexBox {
  display: flex;
  padding-bottom: 1%;
}
#hastooltip {
  @include hastooltip($tooltip-transition-in-duration: 0.3s);
}

#tooltip {
  min-width: 10em;
  padding: 0.5em 0.75em;
  box-shadow: 0 0.05em 0.15em rgba(black, 0.1);
  @include tooltip;
}
