@import '../../../assets/stylesheets/fonts.scss';
@import '../../../assets/stylesheets/colors.scss';

.container {
  position: relative;
}

.input {
  width: 200;
  height: 30;
  padding: '10px 20px';
  font-family: $raleway;
  font-weight: 300;
  font-size: 12;
  border: '1px solid #aaa';
  border-top-left-radius: 4;
  border-top-right-radius: 4;
  border-bottom-left-radius: 4;
  border-bottom-right-radius: 4;
}

.inputFocused {
  outline: none;
}

.inputOpen {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.suggestionsContainer {
  display: none;
}

.suggestionsContainerOpen {
  display: block;
  position: absolute;
  top: 26px;
  width: 196px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-radius: 0 0 4px 4px;
  z-index: 2;
}

.suggestionsList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.suggestionHighlighted {
  background-color: #b4e6e6;
}
