@import '../../../assets/stylesheets/fonts.scss';
@import '../../../assets/stylesheets/colors.scss';
@import '../../../pages/LeftPanel/LeftPanel.module.scss';

.setupTeardownBlockLight {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 5px gray;
  z-index: 3;
  margin-bottom: 10px;

  button {
    margin: 2px;
    color: black;
  }

  --setupTeardown-bg: #{$lighter-mint};
  --button-color: black;
}

.setupTeardownBlockDark {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  background-color: $chromegray-less-light;
  border-radius: 3px;
  box-shadow: 1px 1px 5px gray;
  z-index: 3;
  margin-bottom: 10px;

  button {
    margin: 2px;
    color: white;
  }

  --setupTeardown-bg: #{$salmon};
  --button-color: white;
}

.closeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  z-index: 20;
  transition: 250ms;
  color: white;

  &:hover {
    color: red;
    cursor: pointer;
    font-size: 1.75rem;
    font-weight: bold;
  }
}

.setupTeardownInputContainer {
  width: 100%;
  padding: 10px;
  background-color: var(--setupTeardown-bg);
  border-radius: 4px;

  input {
    color: white;
  }
}

.addButton {
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: rgba(70, 88, 41, 0.133);

  //background-color: $mint;

  &:hover {
    background-color: white;
    color: $mint;
  }
}
