@import '../../assets/stylesheets/fonts.scss';
@import '../../assets/stylesheets/colors.scss';

#describeBlock {
  position: relative;
  background-color: white;
  border-radius: 3px;
  padding: 1rem;
  margin-top: 10px;
  box-shadow: 1px 1px 5px gray;
  display: flex;
  flex-direction: column;
  z-index: 3;

  .describeClose {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1rem;
    z-index: 3;

    &:hover {
      color: red;
      cursor: pointer;
    }
  }

  .separator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    // background-color: rgba(128, 128, 128, 0.20);
    background-color: #02c3c33f;
    border-bottom: 2px solid gray;
    opacity: 100%;
    z-index: 0;
  }

  .describeLabel {
    font-weight: bold;
    font-size: 0.9rem;
    z-index: 3;
    font-family: $oxygen;

  }

  .describeInput {
    border: none;
    // border-bottom: 1px solid $mint;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 0.3rem;
    font-size: 0.90rem;
    z-index: 3;

  }
}