@import '../../../assets/stylesheets/fonts.scss';
@import '../../../assets/stylesheets/colors.scss';
@import '../LeftPanel.module.scss';

#hookUpdates {
  @include box-styling;
  font-family: $raleway;
  letter-spacing: 0.5px;
}

#close {
  float: right;
}

#hookUpdatesHeader {
  @include box-header-alignment;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  img {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
  }
  h3 {
    margin: 0;
    padding: 0;
  }
}

#hooksFlexBox {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#hooks {
  width: 50%;
  margin-right: 7%;
  input {
    margin-top: 6px;
    width: 100%;
  }
}
#cbFlexBox {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#cb {
  width: 50%;
  margin-right: 7%;
  input {
    margin-top: 6px;
    width: 100%;
  }
}
#stateFlexBox {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#state {
  width: 50%;
  margin-right: 7%;
  input {
    margin-top: 6px;
    width: 100%;
  }
}
