@import '../../assets/stylesheets/colors.scss';
@import '../../assets/stylesheets/fonts.scss';

#navBarlight {
  width: 100%;
  background-color: $mint;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  --icon-fill: #{$salmon};
}

#navBardark {
  width: 100%;
  background-color: $darkslategrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  --icon-fill: #{$mint};
}

.btnContainer{
  flex: 0 0 auto;
  margin: 10px 30px;
  display: flex;
  align-items: center;
  gap: 30px;
  
  span{
    cursor: pointer;
    &:hover{
      svg {
        path {
          fill: var(--icon-fill);
        }
      }
    }
    svg {
      path {
        fill: $eggshell; 
      }
    }
    
  }
  #activeEffect {
    svg {
      path {
        fill: var(--icon-fill);
      }
    }
  }
}

#spearmintTitle{
  flex: 1 0 auto;
  align-self: center;
  font-size: 2rem;
  text-align: center;
  font-family: 'comfortaa';
  color: $eggshell;
}

.navBtn {
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.icons {
  width: 28px;
  height: 28px;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background: black;
  color: white;
  position: absolute;
  padding: 5px 0;
  text-align: center;
  border-radius: 8px;
  margin: 0 auto;
  z-index: 3;
}

.navBtn:hover .tooltip {
  visibility: visible;
  margin-left: 5px;
}

// #inAboutPage {
//   @extend #navBar;
//   float: left;
//   position: fixed;
//   top: 0;
//   left: 0;
// }
