@import '../../assets/stylesheets/colors.scss';
@import '../../assets/stylesheets/fonts.scss';

#navBar {
  flex: 0 0 5%;
  width: 100%;
  background-color: $mint;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  // padding: 10px 0;
  // margin: 0 10px 0 10px;
}

// TODO MAKE ICONS NOT IMAGES AND HOVER EFFECTS

.btnContainer{
  flex: 0 0 auto;
  margin: 10px 30px;
  display: flex;
  align-items: center;
  gap: 30px;
  
  span{
    // padding-bottom: 5px;
    // border-bottom: 2px solid transparent;
    // border-top: 2px solid transparent;
    &:hover{
      // border-bottom: 2px solid $salmon;
      svg {
        path {
          fill: $salmon;
        }
      }
    }
    svg {
      path {
        fill: $eggshell; 
      }
    }
    
  }
  #activeEffect {
    svg {
      path {
        fill: $salmon;
      }
    }
  }
}



#spearmintTitle{
  flex: 1 0 auto;
  align-self: center;
  font-size: 2rem;
  text-align: center;
  font-family: 'comfortaa';
  color: $eggshell;
}

.navBtn {
  padding: 0;
  border: 0;
  // margin-top: 15px;
  // margin-bottom: 40px;
  cursor: pointer;
  background-color: transparent;
}

.icons {
  width: 28px;
  height: 28px;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background: black;
  color: white;
  position: absolute;
  padding: 5px 0;
  text-align: center;
  border-radius: 8px;
  margin: 0 auto;
  z-index: 3;
}

.navBtn:hover .tooltip {
  visibility: visible;
  margin-left: 5px;
}

#inAboutPage {
  @extend #navBar;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
}
