@import '../../assets/stylesheets/colors.scss';

#navBar {
  grid-area: navBar;
  background-color: $mint;
  height: 100vh;
  width: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.navBtn {
  padding: 0;
  border: 0;
  margin-top: 15px;
  margin-bottom: 40px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

.icons {
  width: 28px;
  height: 28px;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background: black;
  color: white;
  position: absolute;
  padding: 5px 0;
  text-align: center;
  border-radius: 8px;
  margin: 0 auto;
  z-index: 2;
}

.navBtn:hover .tooltip {
  visibility: visible;
  margin-left: 5px;
}
