/* body {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
}

.fileBtn:hover {
  background-color: lightgrey;
}

#fileTree {
  display: flex;
  width: 400px;
}

.openBtn {
  width: 150px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid black;
  font-size: 20px;
  font-weight: bold;
}

.openBtn:hover {
  background-color: lightgrey;
  border: 2px solid lightgrey;
  color: white;
} */
