@import '../../assets/stylesheets/colors.scss';
@import '../../assets/stylesheets/fonts.scss';

.modal {
  position: fixed;
  top: 35%;
  left: 30%;
  width: 500px;
  height: 200px;
  font-family: $openSans;
  background-color: $mint;
  border: 8px solid $mint;
  border-radius: 5px;
  box-shadow: 0 0 0 1px white inset;
}

#title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $mint;
  margin: 1px;
  height: 20%;
  background-color: #fff;
  p {
    color: $mint;
    margin: 10px;
    font-weight: bold;
    align-content: center;
  }
}

#close {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  fill: $mint;
}

#body {
  padding: 20px 25px;
  p {
    color: #fff;
    font-size: 14px;
  }
  input {
    margin: 10px 0;
    width: 430px;
  }
  button {
    margin: 10px 5px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    float: right;
    width: 100px;
    height: 1.5rem;
    color: #fff;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    border: 0.5px solid white;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

#save:hover {
  background-color: rgb(232, 232, 232);
  color: $mint;
  border-radius: 3px;
}
