@import '../../assets/stylesheets/colors.scss';
@import '../../assets/stylesheets/fonts.scss';

#codeEditor{
  * {
    transition: color 0.0s !important;
  }
}

#saveBox{
  flex: 0 0 5%;
}

#btn {
  height: 38px;
  width: 100% !important;
  color: white;
  background-color: #{$salmon};
  font-family: $raleway;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  border: 0.5px $light-gray solid;
}

#save:hover {
  background-color: rgb(180, 180, 180);
  color: white;
  border-radius: 5px;
}

#span {
  font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  line-height: 1.5;
  position: relative;
  color:white;
}
