@import '../../assets/stylesheets/colors.scss';

#rightPanel {
  flex: 1 2 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 480px;
  background-color: white;
  border-radius: 5px;
}

#tabsContainer {
  width: 100%;
}

.viewContainer{
  flex: 1;
  width: 100%;
  height: 100%;
}

#close {
  align-self: flex-end;
  margin-right: .5rem;
  cursor: pointer;
}

#term {
  width: 100%;
  height: 100%;
}

#tabsBox {
  background-color: #{$salmon}
}