@import '../../assets/stylesheets/colors.scss';

#rightPanel {
  flex: 1 2 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 480px;
  background-color: $eggshell;
  border-radius: 10px;
}

#tabsContainer {
  width: 100%;
}

#tabBox{

}

.viewContainer{
  flex: 1;
}

#close {
  align-self: flex-end;
  margin-right: .5rem;
  cursor: pointer;
}