@import '../../assets/stylesheets/fonts.scss';
@import '../../assets/stylesheets/colors.scss';

.customInputContainer {
  width: 100%;
  margin: 1rem;

  .customInput {
    width: 100%;
    padding: 0.1rem;
    padding-left: 0.4rem;
    font-size: 0.75rem;
    font-family: $openSans;
    border: none;
    border-bottom: 1px solid $mint;

    &:focus {
      outline: none;
      border-bottom: 1.5px solid $mint;
    }
  }
}