@import '../../../assets/stylesheets/colors.scss';

#mockDataKey {
  
  background-color: $light-gray2;
  img {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }

  input {
    width: 50%;
    display: inline-block;
    margin-right: 20px;
  }

  select {
    width: 38%;
    height: 25px;
    margin-right: 10px;
    background-color: white;
    border: 1px solid $light-gray;
  }
}
