@import '../../../assets/stylesheets/fonts.scss';
@import '../../../assets/stylesheets/colors.scss';
// $easing: cubic-bezier(0.6, 0.05, 0.28, 0.91);

#fileDirectory {
  grid-area: fileDirectory;
  padding: 0px;
  width: 460%;
  height: 100vh;
  margin-top: -415px;
  margin-left: 270px;
  font-size: 13px;
  background-color: white;
  overflow: scroll;
  border-right: 1px dotted $mint;
  // transition: all 500ms $easing;
  ul {
    list-style-type: none;
    margin-left: 15px;
    text-align: left;
  }
  li {
    margin-top: 3px;
    text-align: left;
  }
  #explorer {
    margin: 0;
    padding: 22px 10px;
    color: $mint;
    font-family: $oxygen;
    letter-spacing: 1px;
    font-weight: bold;
    height: 30px;
    background-color: #f0f8f8;
    border-bottom: 0.5px dotted $mint;
  }
}
#file {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  float: left;
}
#folder {
  margin-right: 6px;
}
#dirButton {
  text-decoration: none;
  color: $dark-gray;
  background-color: transparent;
  border: none;
  font-family: $oxygen;
  vertical-align: middle;
}

#dirButton:hover {
  background-color: $light-gray;
  border-radius: 3px;
}

#dirButtonHilighted {
  background-color: $light-gray;
  border-radius: 3px;
}
