@import '../../../assets/stylesheets/fonts.scss';
@import '../../../assets/stylesheets/colors.scss';
// $easing: cubic-bezier(0.6, 0.05, 0.28, 0.91);

#fileDirectory {
  grid-area: fileDirectory;
  padding: 28px 8px;
  width: 400%;
  height: 100vh;
  margin-top: -400px;
  margin-left: 242px;
  font-size: 12px;
  background-color: #fff;
  overflow: scroll;
  border-right: 1px dotted $mint;
  // transition: all 500ms $easing;
  ul {
    list-style-type: none;
    margin-left: 8px;
  }
  li {
    margin-top: 8px;
  }
}

#dirButton {
  text-decoration: none;
  color: $dark-gray;
  background-color: transparent;
  border: none;
  font-family: $openSans;
  vertical-align: middle;
}

#dirButton:hover {
  background-color: $light-gray;
  border-radius: 3px;
}
