@import '../../../assets/stylesheets/fonts.scss';
@import '../../../assets/stylesheets/colors.scss';

#fileDirectory {
  grid-area: fileDirectory;
  padding: 0.5rem;
  width: 14rem;
  background-color: white;
  overflow: scroll;
  height: 100vh;
  margin-top: -400px;
  margin-left: 41px;
  font-size: 11px;

  ul {
    list-style-type: none;
    margin-left: 7px;
  }
}

#dirButton {
  text-decoration: none;
  background-color: white;
  color: $dark-gray;
  border: none;
  font-family: $raleway;
}

#dirButton:hover {
  background-color: $light-gray;
  border-radius: 3px;
}
