@import '../../../assets/stylesheets/fonts.scss';
@import '../../../assets/stylesheets/colors.scss';

#testMenu {
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#left {
  float: left;
  button {
    height: 28px;
    width: 100px;
    color: $mint;
    background-color: $light-gray3;
    opacity: 0.8;
    font-family: $oxygen;
    font-size: 14px;
    border-radius: 5px;
  }

  button:hover {
    background-color: white;
    color: $mint;
    border-radius: 5px;
  }
}

#right {
  button {
    height: 28px;
    width: 100px;
    color: white;
    background-color: $mint;
    opacity: 0.8;
    font-family: $oxygen;
    font-size: 14px;
    border-radius: 5px;
  }

  button:hover {
    background-color: white;
    color: $mint;
    border-radius: 7px;
  }
}

// #actionBtn {
//   border: none;
//   border-right: 1px solid white;
//   border-left: 1px solid white;
// }

// #renderBtn {
//   border-radius: 5px;
//   border: none;
// }

// #assertionBtn {
//   border-radius: 0 20px 20px 0;
//   border: none;
// }
    // height: 34px;
    // border-radius: 4px;
    // margin: 20px 35px;
    // font-family: $oxygen;
    // color: white;
    // background-color: $mint;
  // }
// }

#actionBtn {
  border: none;
  border: 1px solid $color1;
  background-color: white;
  color: $color1;
  // border-right: 2px solid $color1;
  // border-left: 2px solid $color1;
}

#assertionBtn {
  border: none;
  border: 1px solid $color2;
  background-color: white;
  color: $color2;
  // border-radius: 0 20px 20px 0;
  // border-right: 2px solid $color3;
  // border-left: 2px solid $color3;
}

#renderBtn {
  border: none;
  border: 1px solid $color3;
  background-color: white;
  color: $color3;
  // border-radius: 20px 0 0 20px;
  // border-right: 2px solid $color2;
  // border-left: 2px solid $color2;
}

#actionBtn:hover,
#assertionBtn:hover,
#renderBtn:hover {
  font-weight: 800;
  border-radius: 4px;
}
