@import '../../../assets/stylesheets/fonts.scss';
@import '../../../assets/stylesheets/colors.scss';

#testMenu {
  padding: 10px;
  text-align: center;

  button {
    height: 40px;
    color: white;
    background-color: $mint;
    opacity: 0.8;
    font-family: $oxygen;
  }

  button:hover {
    background-color: white;
    color: $mint;
    border-radius: 7px;
  }
}

#actionBtn {
  border: none;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

#renderBtn {
  border-radius: 20px 0 0 20px;
  border: none;
}

#assertionBtn {
  border-radius: 0 20px 20px 0;
  border: none;
}
