@import '../../../assets/stylesheets/fonts.scss';
@import '../../../assets/stylesheets/colors.scss';

#testMenu {
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin-bottom: 10px;
  button {
    height: 40px;
    width: 100px;
    color: $mint;
    background-color: $light-gray3;
    opacity: 0.8;
    font-family: $oxygen;
    font-size: 14px;
    border-radius: 5px;
    border: 0.5px $light-gray solid;
  }

  button:hover {
    background-color: white;
    color: $mint;
    border-radius: 5px;
  }
}

#left {
  float: left;
  button {
    color: $mint;
    background-color: white;
  }

  button:hover {
    background-color: $mint;
    color: white;
  }
}

#right {
  button {
    color: white;
    background-color: $mint;
    margin-right: 4px;
    margin-bottom: 4px;
  }

  button:hover {
    background-color: white;
    color: $mint;
  }
}