@import '../../assets/stylesheets/colors.scss';
@import '../../assets/stylesheets/fonts.scss';
/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
#testMenulight {

  * {
    transition: color 0.0s !important;
  }

  flex: 0 0 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;

  button {
    color: $mint;
    height: 100%;

    &:hover {
      color: white;
      background-color: $chromegray-opaque;
    }

    svg {
      font-size: 32px;
    }
  }

}

#testMenudark {

  * {
    transition: color 0.0s !important;
  }

  flex: 0 0 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;

  button {
    color: $eggshell;
    height: 100%;

    &:hover {
      color: white;
      background-color: $eggshell-opaque;
    }

    svg {
      font-size: 32px;
    }
  }
  
}

#dbConfiglight {
  flex: 0 0 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  button {
    color: $mint;

    &:hover {
      color: white;
      background-color: $chromegray-opaque;
    }
  }
}

#dbConfigdark {
  flex: 0 0 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  button {
    color: $eggshell;
    background-color: $salmon;

    &:hover {
      color: white;
      background-color: $salmon-darker;
    }
  }
}