@import '../../assets/stylesheets/colors.scss';
@import '../../assets/stylesheets/fonts.scss';
/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
#testMenu {
  flex: 0 0 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  button {
    color: $mint;
    height: 100%;

    &:hover {
      color: white;
      background-color: $darkslategrey;
    }

    svg {
      font-size: 36px;
    }

  }
}
