@import '../../assets/stylesheets/colors.scss';
@import '../../assets/stylesheets/fonts.scss';
/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
#testMenu {
  flex: 0 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  button {
    background-color: #24A19C;
    color: white;
    font-size: 0.75rem;
    border-radius: 5px;
    padding: 8px;
    height: 100%;
    
    span {
      width: 100%;
      // display: flex;
      // gap: 10px;
    }
  }
}
