@import '../../assets/stylesheets/fonts.scss';
@import '../../assets/stylesheets/colors.scss';

#upperPart {
  width: 100%;
  height: 50vh;
  background-color: #02c2c3;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#title {
  font-size: 4rem;
  text-align: center;
  vertical-align: bottom;
  font-family: 'comfortaa';
  color: #fff;
  margin-bottom: 30px;
}

#leaf {
  width: 48px;
  height: 48px;
  margin-bottom: 38px;
  margin-left: 5px;
  color: #fff;
}

#lowerPart {
  width: 100%;
  height: 50vh;
  background-color: #f0fefe;
}

#subText {
  font-size: 1.25rem;
  text-align: center;
  font-family: $openSans;
  font-weight: 300;
  letter-spacing: 1px;
  color: $mint;
  padding: 20px;
}

#appBox {
  display: flex;
  justify-content: center;
}

.contentBox {
  margin: 100px 80px;
}

#url {
  margin-top: 10px;
  padding-left: 1rem;
  font-size: 12px;
  width: 250px;
  height: 1.5rem;
  color: rgb(128, 128, 128);
}

#openBtn {
  margin-top: 10px;
  padding-left: 1rem;
  font-size: 12px;
  text-align: left;
  width: 250px;
  height: 1.5rem;
  color: $dark-gray;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.number {
  font-weight: bold;
  letter-spacing: 1.5px;
  color: $mint;
}

.text {
  margin-left: 5px;
  font-weight: 300;
  font-family: $openSans;
  letter-spacing: 1px;
}
