@import '../../assets/stylesheets/colors.scss';
@import '../../assets/stylesheets/fonts.scss';

#fileDirectory {
  
  flex: 0 1 200px;
  min-width: 150px;
  //max-height: 90vh;
  font-size: 12px;
  background-color: var(--fileDir-bg);
  overflow: auto;
  z-index: 1;
  border-radius: 5px;
  //overflow: scroll;

  ul {
    list-style-type: none;
    padding-left: 10px;
    text-align: left;

    *{
      transition: none !important;
    }
  }
  li {
    text-align: left;
    padding: 3px;
  }
  button {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;

    svg {
      flex: 0 0 16px;
    }

    span {
      flex: 1;
    }
    
  }

  #explorer {
    position: sticky;
    top: 0;
    padding: 10px;
    color: $eggshell;
    font-family: $oxygen;
    font-weight: 600;
    background-color: $salmon;
  }
}

#fileTreeContainer{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

#file {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  float: left;
}

#folder {
  padding-right: 6px;
}

#dirButton {
  text-decoration: none;
  color: $eggshell;
  background-color: transparent;
  border: none;
  font-family: $oxygen;
  text-align: left;
  vertical-align: middle;
  width: 100%;
  padding: 3px 0 3px 3px;
  border-radius: 2px;
  transition: none !important;
}

#dirButton:hover {
  background-color: var(--dir-button-bg);
  color: var(--dir-button-color);
}

#dirButtonHilighted {
  transition: none !important;
  text-align: left;
  font-family: $oxygen;
  background-color: var(--dir-button-bg);
  border: none;
  color: var(--dir-button-color);
  box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.3);
  padding: 3px 0 3px 3px;
  border-radius: 2px;
  width: 100%;
}
