@import '../../assets/stylesheets/colors.scss';
@import '../../assets/stylesheets/fonts.scss';

#fileDirectory {
  grid-area: fileDirectory;
  padding: 0px;
  width: 200px;
  height: 100vh;
  margin-left: 50px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  background-color: white;
  overflow: auto;
  border-right: 1px dotted $mint;

  ul {
    list-style-type: none;
    margin-left: 15px;
    text-align: left;
  }
  li {
    margin-top: 3px;
    text-align: left;
  }
  #explorer {
    margin: 0;
    padding: 10%;
    color: $mint;
    font-family: $oxygen;
    letter-spacing: 1px;
    vertical-align: middle;
    font-weight: bold;
    height: 1px;
    background-color: #f0f8f8;
    border-bottom: 0.5px dotted $mint;
  }
}
#file {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  float: left;
}
#folder {
  margin-right: 6px;
}
#dirButton {
  text-decoration: none;
  color: $dark-gray;
  background-color: transparent;
  border: none;
  font-family: $oxygen;
  text-align: left;
  vertical-align: middle;
  width: 97%;
}

#dirButton:hover {
  background-color: #f0f8f8;
  border-radius: 3px;
}

#dirButtonHilighted {
  text-align: left;
  background-color: #f0f8f8;
  border: none;
  border-radius: 3px;
  width: 97%;
}
