@import '../../assets/stylesheets/colors.scss';
@import '../../assets/stylesheets/fonts.scss';

#fileDirectory {
  flex: 0 1 200px;
  min-width: 150px;
  font-size: 12px;
  background-color: $mint;
  overflow: auto;
  z-index: 1;
  border-radius: 5px;
  //overflow: scroll;

  ul {
    list-style-type: none;
    padding-left: 10px;
    text-align: left;
  }
  li {
    text-align: left;
    padding: 3px;
  }
  button {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;

    svg {
      flex: 0 0 16px;
    }

    span {
      flex: 1;
    }
    
  }

  #explorer {
    position: sticky;
    top: 0;
    padding: 10px;
    color: $eggshell;
    font-family: $oxygen;
    font-weight: 600;
    background-color: $salmon;
  }
}

#fileTreeContainer{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

#file {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  float: left;
}

#folder {
  padding-right: 6px;
}

#dirButton {
  text-decoration: none;
  color: $eggshell;
  background-color: transparent;
  border: none;
  font-family: $oxygen;
  text-align: left;
  vertical-align: middle;
  width: 100%;
}

#dirButton:hover {
  background-color: #f0f8f8;
  color: $mint;
}

#dirButtonHilighted {
  text-align: left;
  background-color: #f0f8f8;
  border: none;
  width: 100%;
}
