@import './../../assets/stylesheets/fonts.scss';
@import './../../assets/stylesheets/colors.scss';
@import '../../pages/LeftPanel/LeftPanel.module.scss';
// @import '../EndpointTestComponent/Endpoint.module.scss';

.displays {
  display: block;
}

h2 {
  text-align: center;
  color: white;
  font-size: 30px;
}

div {
  font-size: 12px;
  vertical-align: middle;
}
#head {
  position: fixed;
  z-index: 9999;
}

#testCaseHeaderlight {
  margin: 15px 25px 15px 15px;

  max-width: 500px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  button {
    font-size: 0.75rem;
    color: black;
    border-color: black;
  }

  --input-color: black;

  input {
    border-color: var(--input-color);
    color: var(--input-color);

    &::placeholder {
      color: var(--input-color);
    }
  }
  label {
    color: var(--input-color);
  }
}

#testCaseHeaderdark {
  margin: 15px 25px 15px 15px;

  max-width: 500px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  --input-color: white;

  button {
    font-size: 0.75rem;
    color: white;
    border-color: white;
  }

  input {
    border-color: var(--input-color);
    color: var(--input-color);

    &::placeholder {
      color: var(--input-color);
    }
  }
  label {
    color: var(--input-color);
  }
}

#testMockSectionlight {
  margin-bottom: 50px;
  --input-color: black;
}
#testMockSectiondark {
  margin-bottom: 50px;
  --input-color: white;
}

#paintTimingBtn {
  padding: 10px;
  margin-top: 10px;
  background-color: $light-gray2;
}

#testStatement {
  margin-top: 3px;
  width: 93%;
}

#mockHeader {
  float: right;
  margin: 5px 26px;
}

#checkboxLabel {
  margin: 10px;
}

#mockDataHeader {
  padding: 0 2%;
  label {
    margin: 5px;
    vertical-align: middle;
  }
  img {
    width: 15px;
  }
}

#ReactTestCaselight {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  --input-color: black;
  --describe-button-color: white;
  --describe-button-bg: #{$mint};
}

#ReactTestCasedark {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  --input-color: white;
  --describe-button-color: #{$eggshell};
  --describe-button-bg: #{$salmon};
}

#PaintTimelight {
  padding: 10px;
  margin-top: 10px;
  gap: 10px;
  button {
    color: $mint;

    &:hover {
      color: white;
      background-color: $chromegray-opaque;
    }
  }
}

#PaintTimedark {
  padding: 10px;
  margin-top: 10px;
  gap: 10px;
  button {
    color: $eggshell;
    background-color: $salmon;

    &:hover {
      color: white;
      background-color: $salmon-darker;
    }
  }
}

#Endpointlight {
  padding: 10px;
  margin-top: 10px;
  gap: 10px;
  button {
    color: $mint;

    &:hover {
      color: white;
      background-color: $chromegray-opaque;
    }
  }
}

#Endpointdark {
  padding: 10px;
  margin-top: 10px;
  gap: 10px;
  button {
    color: $eggshell;
    background-color: $salmon;

    &:hover {
      color: white;
      background-color: $salmon-darker;
    }
  }
}

.flex-container {
  display: flex;
  margin-bottom: 5px;
}

.flex1light{
  width: 40%;
  display: flex;
  margin: 5px 0px 5px 15px;
  --input-color: black;

  input {
    border-color: var(--input-color);
    color: var(--input-color);

    &::placeholder {
      color: var(--input-color);
    }
  }
  label {
    color: var(--input-color);
  }

  div {
    flex: 1;
  }
}

.flex1dark{
  width: 40%;
  display: flex;
  margin: 5px 0px 5px 15px;
  --input-color: white;

  input {
    border-color: var(--input-color);
    color: var(--input-color);

    &::placeholder {
      color: var(--input-color);
    }
  }
  label {
    color: var(--input-color);
  }

  div {
    flex: 1;
  }
}

.header {
  flex: 0 0 40px;
  display: flex;
  .searchInput {
    flex: 1 1 40px;
    svg {
      color: var(--input-color);
    }
    div {
      max-width: 250px;
    }
    input {
      border-color: var(--input-color);
      color: var(--input-color);

      &::placeholder {
        color: var(--input-color);
      }
    }
    label {
      color: var(--input-color);
    }
  }

  button {
    font-size: 0.75rem;
    color: var(--input-color);
    border-color: var(--input-color);
  }
}

#addDescribeButton {
  button {
    color: var(--describe-button-color);
    background-color: var(--describe-button-bg);

    &:hover {
      color: var(--describe-button-color);
      background-color: var(--describe-button-bg);
    }
  }
}

#labelInput {
  width: 100%;
  margin-right: 7%;
  // color: white;
  input {
    margin-top: 6px;
    width: 100%;
    max-width: 500px;
    border-color: var(--input-color);
    color: var(--input-color);

    &::placeholder {
      color: var(--input-color);
    }
  }

  label {
    color: var(--input-color);
  }

  position: relative;
  color: var(--input-color);
}

#hastooltip {
  @include hastooltip($tooltip-transition-in-duration: 0.3s);
  img {
    height: 15px;
    width: 15px;
    margin-left: 2px;
    margin-top: -1px;
  }
}

#tooltip {
  min-width: 15em;
  padding: 0.5em 0.75em;
  box-shadow: 0 0.05em 0.15em rgba(black, 0.1);
  @include tooltip;
}

#dropdownWrapper {
  // margin-right: 9%;
  width: 43%;
  max-width: 225px;
  select {
    font-family: $raleway;
    width: 100%;
    height: 25px;
    margin: 0 3px 0 0;
    background-color: white;
    border: 1px solid $light-gray;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: $dark-gray;
  }
}

#dropdownFlex {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

#accTestDiv {
  display: flex;
  justify-content: flex-start;
}

#secTestBtn {
  
  min-height: 80px;
  padding: 16px;

  &:hover {
      font-size: 0.9rem;
  }
}

#secInfo {
  font-size: 14px !important;
  font-family: $oxygen;
  text-align: justify;
  line-height: 1.3;
}

#secInfolight {
  font-size: 14px !important;
  font-family: $oxygen;
  text-align: justify;
  line-height: 1.3;
  --text-color: black;
}

#secInfodark {
  font-size: 14px !important;
  font-family: $oxygen;
  text-align: justify;
  line-height: 1.3;
  --text-color: white;
}

#SecTestCaselight{
  color: black
}

#SecTestCasedark{
  color: white;
}


