@import '../../assets/stylesheets/colors.scss';
@import '../../assets/stylesheets/fonts.scss';
@import '../../pages/LeftPanel/LeftPanel.module.scss';

#assertion {
  @include box-styling;
  font-family: $raleway;
  letter-spacing: 0.5px;
}

#close {
  float: right;
}

#assertionHeader {
  @include box-header-alignment;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  img {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
  }
  h3 {
    margin: 0;
    padding: 0;
  }
}
.queryLabel {
  margin-bottom: 5px;
  display: block;
}

#queryFlexBox {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
// #queryVariant {
//   top: auto;
//   bottom: 100%;
// }
#querySelector {
  margin-right: 10%;
  select {
    font-family: $raleway;
    width: 100%;
    height: 25px;
    margin: 0 3px 0 0;
    background-color: white;
    border: 1px solid $light-gray;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: $dark-gray;
  }
}

#dropdownFlex {
  display: flex;
  align-items: center;
  width: 111%;
}

// #query {
//   input {
//     width: 140%;
//   }
// }

#hastooltip {
  @include hastooltip($tooltip-transition-in-duration: 0.3s);
}

#tooltip {
  min-width: 15em;
  padding: 0.5em 0.75em;
  box-shadow: 0 0.05em 0.15em rgba(black, 0.1);
  @include tooltip;
}

#matcherLabelFlexBox {
  display: flex;
  div {
    font-size: 12px;
  }
  justify-content: space-between;
  width: 185px;
  align-items: center;
  margin-bottom: 8px;
}

#valueFlexBox {
  display: flex;
  div {
    font-size: 12px;
  }
  justify-content: space-between;
  width: 185px;
  align-items: center;
  margin-bottom: 8px;
}

#matcherFlexBox {
  display: flex;
  div {
    font-size: 12px;
  }
  justify-content: space-between;
  width: 250px;
  align-items: flex-end;
  margin-bottom: 8px;
  padding-top: -2rem;
}
#autoTool {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#matcherLeft {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#matcherAuto {
  margin-right: 15%;
  display: inline;
}
#matcherInput {
  width: 200px;
}

#lastAssertion {
  padding: 15px;
}

#matcherVal {
  display: flex;
  div {
    font-size: 12px;
  }
  margin-left: 78px;
  justify-content: space-between;
  width: 185px;
  align-items: center;

  input {
    width: 185px;
    display: block;
    margin-top: 6px;
  }
}
