#appGridOpen {
  display: grid;
  grid-template-columns: 25% auto 40%;
  // grid-template-rows: auto;
  grid-template-areas: "navBar leftPanel rightPanel";
}

#appGridClose {
  display: grid;
  grid-template-columns: 5% auto 55%;
  // grid-template-rows: auto;
  grid-template-areas: "navBar leftPanel rightPanel";
}
