@import '../../../assets/stylesheets/colors.scss';
@import '../../../assets/stylesheets/fonts.scss';
@import '../../../pages/LeftPanel/LeftPanel.module.scss';

#RenderContainerlight {
  position: relative;
  font-family: $raleway;
  background-color: $light-gray2;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 14px 10px;
  border-radius: 2px;

  --bg-color : #{$light-gray2};
  --render-color: #{$mint};
  --component-color: black;
  --text-color: black;

}

#RenderContainerdark {
  position: relative;
  font-family: $raleway;
  background-color: $chromegray-less-light;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 14px 10px;
  border-radius: 2px;

  --bg-color : #{$chromegray-less-light};
  --render-color: white;
  --component-color: #{$mint};
  --text-color: white;
}

.renderHeader {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;

  input {
    border-color: var(--input-color);
    color: var(--render-color);
  }

  label {
    color: var(--render-color);
  }

  button {
    font-size: 0.75rem;
    color: var(--render-color);
    border-color: var(--render-color);
  }
}

#componentName{
  color: var(--component-color);
}

.header {
  font-size: 1rem;
  font-weight: bold;
  color: var(--render-color);
}

.addPropBtn {
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;

  &:hover {
    color: green;
  }
}

#close {
  z-index: 20;
  cursor:pointer;
}

.addProps {
  height: auto;
  font-size: 0.85rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  min-width: 150px;
  border-radius: 3px;
  font-family: $oxygen;
  text-align: center;
  transition: 150ms;
}

.deleteRender {
  position: absolute;
  top: 2px;
  right: 2px;
  transition: 250ms;

  &:hover {
    cursor: pointer;
    color: red;
    font-size: 1rem;
    font-weight: bold;
  }
}

#renderProp {
  font-size: 13px;
  margin-bottom: 0;
  padding: 6px 0;
  display: flex;
  width: 60%;
  justify-content: space-between;


  label {
    color: var(--text-color);
  }
  
}
