#projectLoader {
  h1 {
    font-size: 80px;
    text-align: center;
    padding-top: 200px;
    font-family: comfortaa;
    color: #02c2c3;
  }
  h2 {
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: montserrat;
    color: #ffc800;
  }
}
