// #projectLoader {
//   grid-area: projectLoader;
// }
#projectLoader {
  grid-area: projectLoader;
  display: flex;
}

#left {
  width: 50%;
  height: 100vh;
  background-color: #02c2c3;
  h1 {
    font-size: 4rem;
    text-align: center;
    font-family: "comfortaa";
    color: #fff;
    margin-top: 15rem;
  }

  h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 3rem;
    font-family: "montserrat";
    color: #ffc800;
  }
}

#right {
  width: 50%;
  height: 100vh;
  background-color: #fffef8;
}

// const imgStyle = {
//   padding: "10px"
// };
