@import 'assets/stylesheets/global';
@import 'assets/stylesheets/reset';
@import 'assets/stylesheets/fonts';
@import 'assets/stylesheets/colors';

#appGridOpen {
  display: grid;
  grid-template-columns: 240px auto 40%;
  grid-template-rows: auto;
  grid-template-areas: 'navBar leftPanel rightPanel';
  background-color: $light-gray2;
}

#appGridClose {
  display: grid;
  grid-template-columns: 50px auto 50%;
  grid-template-rows: auto;
  grid-template-areas: 'navBar leftPanel rightPanel';
  background-color: $light-gray2;
}
