body {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
}

ul {
  margin-left: 20px; 
  list-style-type: none;
}

li {
  list-style-type: none;
}

/* .openBtn {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  border: 2px solid black;
} */

/* .openBtn :hover {
  background-color: black;
  color: white;
} */

.fileBtn {
  border: none;
}

.fileBtn:hover {
  background-color: lightgrey;
}