@import './../../assets/stylesheets/colors.scss';
@import '../../assets/stylesheets/fonts.scss';

.navBtn {
  padding: 0;
  border: 0;
  margin-top: 15px;
  margin-bottom: 40px;
  cursor: pointer;
  background-color: transparent;
  :focus {
    outline: 2px solid darkblue;
  }
}

.icons {
  width: 28px;
  height: 28px;
}

#getTestBtn {
  margin-top: 10px;
  padding-left: 1rem;
  font-size: 12px;
  text-align: left;
  width: 250px;
  height: 1.5rem;
  color: $dark-gray;
  box-shadow: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  :focus {
    outline: 2px solid darkblue;
  }
}

#getTestBtn:focus {
  outline: 2px solid darkblue;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background: black;
  color: white;
  position: absolute;
  padding: 5px 0;
  text-align: center;
  border-radius: 8px;
  margin: 0 auto;
  z-index: 3;
}

.navBtn:hover .tooltip {
  visibility: visible;
  margin-left: 5px;
}

.navBtn:active .tooltip {
  visibility: hidden;
}
