@import '../../assets/stylesheets/colors.scss';
@import '../../assets/stylesheets/fonts.scss';

#testFileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 30px;
  width: 100%;
  height: 100%;
  padding: 20% 15% 30% 15%;
}

#chooseTest{
  font-size: 1.8rem;
  font-weight: bold;
  font-family: $raleway;
  color: var(--choose-test-color);
}

#testCardsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  justify-items: center;
  height: 100%;
  width: 100%;
}