@import '../../../assets/stylesheets/fonts.scss';
@import '../../../assets/stylesheets/colors.scss';
@import '../LeftPanel.module.scss';

#assertion {
  @include box-styling;

  img {
    margin: 2px;
    opacity: 0.8;
    width: 30px;
    height: 30px;
  }

  select {
    margin-left: 5px;
  }
}

#assertionHeader {
  @include box-header-alignment;
}

#querySelectorHeader {
  display: block;
}

#querySelectorInput {
  width: 35%;
}

#matcherFlexBox {
  display: flex;
}

#matcher,
#matcherVal {
  margin-top: 5px;

  label,
  input {
    display: block;
  }
  input {
    width: 20em;
    margin: 0 5px;
  }
}
