@import '../../../assets/stylesheets/fonts.scss';
@import '../../../assets/stylesheets/colors.scss';
@import '../LeftPanel.module.scss';

#actionCreator {
  @include box-styling;
  font-family: $raleway;
  letter-spacing: 0.5px;
}

#close {
  float: right;
}

#actionCreatorHeader {
  @include box-header-alignment;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  img {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
  }
  h3 {
    margin: 0;
    padding: 0;
  }
}

#filesFlexBox {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#files {
  width: 50%;
  margin-right: 7%;
  input {
    margin-top: 6px;
    width: 100%;
  }
}

#actionFlexBox {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#actions {
  width: 50%;
  margin-right: 7%;
  input {
    margin-top: 6px;
    width: 100%;
  }
}

#payloadFlexBox {
  display: flex;
  align-items: center;
  width: 100%;
}

#payloadKey {
  width: 50%;
  margin-right: 7%;
  input {
    margin-top: 6px;
    width: 100%;
  }
}

#payloadType {
  margin-right: 7%;
  width: 50%;
  select {
    margin-top: 6px;
    font-family: $raleway;
    width: 100%;
    height: 25px;
    background-color: white;
    border: 1px solid $light-gray;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: $dark-gray;
  }
}

// #dropdownFlex {
//   display: flex;
//   align-items: center;
//   width: 111%;
// }
