
// color palette light

$mint: #3DB893;
$lighter-mint: #3DB893af;//darken($mint, 10%);
$eggshell: #F8F1F1;
$eggshell-opaque: #F8F1F1a4;
$darkslategrey: darkslategrey;
$lighttext: #bdc1c6;
$chromegray: #303134;
$chromegray-less-light: lighten(#303134, 5%);
$chromegray-light: lighten(#303134, 10%);
$chromegray-lighter: lighten(#303134, 15%);
$chromegray-opaque: #303134d7;

$navy:  #325288;
//$salmon: #933796cb;
$salmon: #9f3ba6cb;
$salmon-darker: #4E0250;

$mint2: #02c3c33f;
$mint3: #0fa9a95c;
$dark-gray: #808080;
$light-gray: #d5d5d5;
$light-gray2: #f6f8f9;
$light-gray3: #fafcfc;
$light-gray4: #bceeeed7;

/* original colors 
$salmon: #8f54a0;
$salmon-darker: #7c4a8a;
$eggshell: #f2f2f2;
$eggshell-opaque: #F1F3F4a4;
$mint: #24A19C;
$lighter-mint: #24A19Caf;//darken($mint, 10%);
*/