@import url(https://fonts.googleapis.com/css?family=Comfortaa|Montserrat|Noto+Sans+HK|Source+Sans+Pro|Open+Sans|Roboto&display=swap);

$sans-serif: 'Source Sans Pro', Helvetica, Verdana, sans-serif;
$serif: Merriweather, Georgia, 'Times New Roman', serif;
$mono: 'Source Code Pro', Courier, mono;
$comfortaa: 'Comfortaa', cursive;
$montserrat: 'Montserrat', sans-serif;
$notoSans: 'Noto Sans HK', sans-serif;
$sourceSansPro: 'Source Sans Pro', sans-serif;
$openSans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
