@import url(https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans|Raleway|Oxygen&display=swap);

$comfortaa: 'Comfortaa', cursive;
$openSans: 'Open Sans', sans-serif;
$oxygen: 'Oxygen', sans-serif;
$raleway: 'Raleway', sans-serif;
