* {
  box-sizing: border-box;
  // overflow: hidden;
}

html,
body,
#contents {
  height: 100%;
  overflow-y: hidden;
}

html {
  font-size: 62.5%;
  background-color: #FAEEE7;
}

a {
  text-decoration: none;
}
